.call-to-action {
	background-color: #fff;
	color: #333;
	display: grid;
	gap: 2rem;
	padding: 8vw 2rem;
}

.call-to-action__image {
	max-width: 7.5rem;
	justify-self: center;
}

.call-to-action__content {
	display: grid;
	gap: 1rem;
	justify-items: center;
}

.call-to-action__content__heading {
	font-size: 1.625rem;
	font-weight: 700;
	text-align: center;
}

@media screen and (min-width: 640px) {
	.call-to-action__content__heading {
		font-size: 2rem;
	}
}

@media screen and (min-width: 896px) {
	.call-to-action__content__heading {
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 1280px) {
	.call-to-action__content__heading {
		font-size: 2.75rem;
	}
}

.call-to-action__content__paragraph {
	font-size: 1.15rem;
	max-width: 38rem;
	text-align: center;
}

@media screen and (min-width: 1280px) {
	.call-to-action__content__paragraph {
		font-size: 1.4rem;
	}
}

.call-to-action__button {
	margin: 0 1rem;
}

@media screen and (min-width: 640px) {
	.call-to-action__button {
		justify-self: center;
	}
}
