@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
.keen-slider:not([data-keen-slider-disabled]) {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  align-content: flex-start;
  display: flex;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  width: 100%;
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider__slide {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-moves] * {
  pointer-events: none;
}

.es-button {
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.3;
  padding: 1rem 2.625rem;
  text-align: center;
  transition: background-color 100ms linear;
}
.es-button--black {
  background-color: #000;
  color: #fff;
}
.es-button--black:hover {
  background-color: #333;
}
.es-button--green {
  background-color: #16745f;
  color: #fff;
}
.es-button--green:hover {
  background-color: #0d5e4c;
}

.es-chevron-icon {
  transition: transform 200ms ease-in-out;
}
.es-chevron-icon--down {
  transform: rotate(0deg);
}
.es-chevron-icon--left {
  transform: rotate(90deg);
}
.es-chevron-icon--up {
  transform: rotate(180deg);
}
.es-chevron-icon--right {
  transform: rotate(270deg);
}

.es-alternate-grid {
  background-color: #fff;
  color: #333;
}
.es-alternate-grid__content {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: dense;
}
@media screen and (min-width: 640px) {
  .es-alternate-grid__content--with-image {
    grid-template-columns: 2fr 3fr;
    gap: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-alternate-grid__content--with-image {
    grid-template-columns: repeat(2, 1fr);
  }
}
.es-alternate-grid__image {
  align-self: center;
}
.es-alternate-grid__image--left {
  grid-column: 1;
}
.es-alternate-grid__image--right {
  grid-column: 2;
}
.es-alternate-grid__primary-content {
  display: grid;
  gap: 2rem;
}
.es-alternate-grid__primary-content__intro {
  display: grid;
  gap: 0.5rem;
}
.es-alternate-grid__primary-content__intro__eyebrow {
  color: #8592e0;
  font-size: 1.15rem;
  font-weight: 500;
}
.es-alternate-grid__primary-content__intro__headline {
  font-size: 1.625rem;
  font-weight: 700;
}
@media screen and (min-width: 640px) {
  .es-alternate-grid__primary-content__intro__headline {
    font-size: 2rem;
  }
}
@media screen and (min-width: 896px) {
  .es-alternate-grid__primary-content__intro__headline {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-alternate-grid__primary-content__intro__headline {
    font-size: 2.75rem;
  }
}
.es-alternate-grid__primary-content__intro__description {
  font-size: 1.15rem;
  max-width: 38rem;
}
@media screen and (min-width: 1280px) {
  .es-alternate-grid__primary-content__intro__description {
    font-size: 1.4rem;
  }
}
.es-alternate-grid__primary-content__items {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 640px) {
  .es-alternate-grid__primary-content__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.es-alternate-grid__item {
  display: grid;
  gap: 1rem;
  align-content: start;
}
.es-alternate-grid__item__icon {
  max-height: 3rem;
}
.es-alternate-grid__item__heading {
  font-weight: 700;
  font-size: 1.17rem;
}
.es-alternate-grid__item__description {
  font-size: 0.9rem;
}

.es-call-to-action {
  background-color: #fff;
  color: #333;
  padding: 8vw 2rem;
}
.es-call-to-action__content {
  display: grid;
  gap: 2rem;
}
.es-call-to-action__image {
  max-width: 7.5rem;
  justify-self: center;
}
.es-call-to-action__content {
  display: grid;
  gap: 1rem;
  justify-items: center;
}
.es-call-to-action__content__heading {
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .es-call-to-action__content__heading {
    font-size: 2rem;
  }
}
@media screen and (min-width: 896px) {
  .es-call-to-action__content__heading {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-call-to-action__content__heading {
    font-size: 2.75rem;
  }
}
.es-call-to-action__content__paragraph {
  font-size: 1.15rem;
  max-width: 38rem;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .es-call-to-action__content__paragraph {
    font-size: 1.4rem;
  }
}
.es-call-to-action__button {
  margin: 0 1rem;
}
@media screen and (min-width: 640px) {
  .es-call-to-action__button {
    justify-self: center;
  }
}

.es-cards-carousel {
  background-color: #fff;
  color: #333;
}
.es-cards-carousel__content {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 640px) {
  .es-cards-carousel__content {
    gap: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-cards-carousel__content {
    gap: 5rem;
  }
}
.es-cards-carousel__intro {
  display: grid;
  gap: 1rem;
  justify-content: center;
}
.es-cards-carousel__intro__eyebrow {
  color: #8592e0;
  font-size: 1.15rem;
  font-weight: 500;
  text-align: center;
  max-width: 38rem;
}
.es-cards-carousel__intro__headline {
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .es-cards-carousel__intro__headline {
    font-size: 2rem;
  }
}
@media screen and (min-width: 896px) {
  .es-cards-carousel__intro__headline {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-cards-carousel__intro__headline {
    font-size: 2.75rem;
  }
}
.es-cards-carousel__intro__description {
  font-size: 1.15rem;
  text-align: center;
  max-width: 38rem;
}
@media screen and (min-width: 1280px) {
  .es-cards-carousel__intro__description {
    font-size: 1.4rem;
  }
}
.es-cards-carousel__carousel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  position: relative;
}
.es-cards-carousel__carousel__cards {
  grid-column: 1/-1;
}
.es-cards-carousel__carousel__control {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}
@media screen and (min-width: 640px) {
  .es-cards-carousel__carousel__control {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.es-cards-carousel__carousel__control--prev {
  justify-self: end;
}
@media screen and (min-width: 640px) {
  .es-cards-carousel__carousel__control--prev {
    left: -3.5rem;
  }
}
@media screen and (min-width: 896px) {
  .es-cards-carousel__carousel__control--prev {
    left: -4rem;
  }
}
@media screen and (min-width: 640px) {
  .es-cards-carousel__carousel__control--next {
    right: -3.5rem;
  }
}
@media screen and (min-width: 896px) {
  .es-cards-carousel__carousel__control--next {
    right: -4rem;
  }
}
.es-cards-carousel__carousel__control__icon {
  width: 1rem;
}
@media screen and (min-width: 640px) {
  .es-cards-carousel__carousel__control__icon {
    width: 1.25rem;
  }
}
.es-cards-carousel__card {
  align-content: start;
  background-color: #f4f0ec;
  border-radius: 0.5rem;
  display: grid;
  gap: 1rem;
  padding: 2rem;
}
.es-cards-carousel__card__title {
  font-weight: 700;
  font-size: 0.9rem;
}
.es-cards-carousel__card__content {
  font-size: 0.9rem;
}

.es-customer-logos {
  background-color: #f4f0ec;
  color: #333;
}
.es-customer-logos__content {
  display: grid;
  gap: 2rem;
  justify-items: center;
}
.es-customer-logos__heading {
  color: #8592e0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.es-customer-logos__logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -2rem;
  margin-top: -2rem;
  max-width: 64rem;
}
@media screen and (min-width: 896px) {
  .es-customer-logos__logos {
    margin-left: -3rem;
  }
}
.es-customer-logos__logo {
  padding-left: 2rem;
  padding-top: 2rem;
}
@media screen and (min-width: 896px) {
  .es-customer-logos__logo {
    margin-left: 3rem;
  }
}
.es-customer-logos__logo__link__image {
  max-width: 10rem;
}
.es-customer-logos__button {
  justify-self: stretch;
}
@media screen and (min-width: 640px) {
  .es-customer-logos__button {
    justify-self: center;
  }
}

.es-faq-section {
  background-color: #fff;
  color: #333;
}
.es-faq-section__content {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 640px) {
  .es-faq-section__content {
    gap: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-faq-section__content {
    gap: 5rem;
  }
}
.es-faq-section__intro {
  display: grid;
  gap: 1rem;
  justify-content: center;
}
.es-faq-section__intro__eyebrow {
  color: #8592e0;
  font-size: 1.15rem;
  font-weight: 500;
  text-align: center;
  max-width: 38rem;
}
.es-faq-section__intro__headline {
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .es-faq-section__intro__headline {
    font-size: 2rem;
  }
}
@media screen and (min-width: 896px) {
  .es-faq-section__intro__headline {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-faq-section__intro__headline {
    font-size: 2.75rem;
  }
}
.es-faq-section__intro__description {
  font-size: 1.15rem;
  text-align: center;
  max-width: 38rem;
}
@media screen and (min-width: 1280px) {
  .es-faq-section__intro__description {
    font-size: 1.4rem;
  }
}
.es-faq-section__primary-content {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: dense;
  align-items: start;
}
@media screen and (min-width: 640px) {
  .es-faq-section__primary-content--with-image {
    grid-template-columns: 2fr 3fr;
    gap: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-faq-section__primary-content--with-image {
    grid-template-columns: repeat(2, 1fr);
  }
}
.es-faq-section__primary-content__questions {
  display: grid;
  gap: 1rem;
}
.es-faq-section__question {
  background-color: #f4f0ec;
  border-radius: 0.5rem;
}
.es-faq-section__question__toggler {
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr auto;
  padding: 1.25rem;
  text-align: left;
  width: 100%;
}
.es-faq-section__question__toggler__label {
  font-weight: 700;
}
.es-faq-section__question__toggler__icon {
  width: 0.75rem;
}
.es-faq-section__question__content {
  display: none;
  padding: 0 1.25rem 1.25rem;
  pointer-events: none;
  font-size: 0.9rem;
}
.es-faq-section__question__content--open {
  display: block;
  pointer-events: auto;
}

.es-images-slider {
  background-color: #fff;
  color: #333;
}
.es-images-slider__content {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 640px) {
  .es-images-slider__content {
    gap: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-images-slider__content {
    gap: 5rem;
  }
}
.es-images-slider__intro {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 640px) {
  .es-images-slider__intro {
    justify-items: center;
  }
}
.es-images-slider__intro__eyebrow {
  color: #8592e0;
  font-size: 1.15rem;
  font-weight: 500;
  max-width: 38rem;
}
@media screen and (min-width: 640px) {
  .es-images-slider__intro__eyebrow {
    text-align: center;
  }
}
.es-images-slider__intro__headline {
  font-size: 1.625rem;
  font-weight: 700;
}
@media screen and (min-width: 640px) {
  .es-images-slider__intro__headline {
    font-size: 2rem;
    text-align: center;
  }
}
@media screen and (min-width: 896px) {
  .es-images-slider__intro__headline {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-images-slider__intro__headline {
    font-size: 2.75rem;
  }
}
.es-images-slider__intro__description {
  font-size: 1.15rem;
  max-width: 38rem;
}
@media screen and (min-width: 640px) {
  .es-images-slider__intro__description {
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .es-images-slider__intro__description {
    font-size: 1.4rem;
  }
}
.es-images-slider__slider {
  overflow: hidden;
  display: grid;
  gap: 2rem;
}
.es-images-slider__slider__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.es-images-slider__slider__control {
  padding: 0.75rem;
}
.es-images-slider__slider__control__dot {
  background-color: #333;
  border-radius: 50%;
  height: 0.75rem;
  width: 0.75rem;
}
.es-images-slider__slider__control__dot--active {
  background-color: #16745f;
}
.es-images-slider__slide {
  display: grid;
  gap: 2rem;
  justify-items: center;
}
.es-images-slider__slide__image {
  width: 100%;
  max-width: 840px;
}
.es-images-slider__slide__description {
  font-size: 1.15rem;
  text-align: center;
  max-width: 38rem;
}
@media screen and (min-width: 1280px) {
  .es-images-slider__slide__description {
    font-size: 1.4rem;
  }
}

.es-pricing-table {
  background-color: #fff;
  color: #333;
}
.es-pricing-table__content {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 640px) {
  .es-pricing-table__content {
    gap: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-pricing-table__content {
    gap: 5rem;
  }
}
.es-pricing-table__intro {
  display: grid;
  gap: 1rem;
}
.es-pricing-table__intro__eyebrow {
  color: #8592e0;
  font-size: 1.5rem;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .es-pricing-table__intro__eyebrow {
    text-align: center;
  }
}
.es-pricing-table__intro__headline {
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (min-width: 1280px) {
  .es-pricing-table__intro__headline {
    text-align: center;
  }
}
.es-pricing-table__intro__description {
  font-size: 1.15rem;
}
@media screen and (min-width: 1280px) {
  .es-pricing-table__intro__description {
    text-align: center;
  }
}
.es-pricing-table__plans {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-self: center;
}
.es-pricing-table__plan__card {
  height: 100%;
}
.es-pricing-table__plan-card {
  align-content: flex-start;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.es-pricing-table__plan-card--beige {
  background-color: #f4f0ec;
  border: 1px solid #f4f0ec;
  color: #333;
}
.es-pricing-table__plan-card--white {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
}
.es-pricing-table__plan-card__content {
  align-content: flex-start;
  display: grid;
  flex-grow: 1;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.es-pricing-table__plan-card__content__title {
  font-size: 1.17rem;
  font-weight: 700;
}
.es-pricing-table__plan-card__content__price {
  color: #878787;
  font-size: 0.9rem;
}
.es-pricing-table__plan-card__content__features {
  font-size: 0.9rem;
}

.es-testimonials-slider {
  background-color: #fff;
  color: #333;
}
.es-testimonials-slider__content {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 640px) {
  .es-testimonials-slider__content {
    gap: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-testimonials-slider__content {
    gap: 5rem;
  }
}
.es-testimonials-slider__intro {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 640px) {
  .es-testimonials-slider__intro {
    justify-items: center;
  }
}
.es-testimonials-slider__intro__eyebrow {
  color: #8592e0;
  font-size: 1.15rem;
  font-weight: 500;
  max-width: 38rem;
}
@media screen and (min-width: 640px) {
  .es-testimonials-slider__intro__eyebrow {
    text-align: center;
  }
}
.es-testimonials-slider__intro__headline {
  font-size: 1.625rem;
  font-weight: 700;
}
@media screen and (min-width: 640px) {
  .es-testimonials-slider__intro__headline {
    font-size: 2rem;
    text-align: center;
  }
}
@media screen and (min-width: 896px) {
  .es-testimonials-slider__intro__headline {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-testimonials-slider__intro__headline {
    font-size: 2.75rem;
  }
}
.es-testimonials-slider__intro__description {
  font-size: 1.15rem;
  max-width: 38rem;
}
@media screen and (min-width: 640px) {
  .es-testimonials-slider__intro__description {
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .es-testimonials-slider__intro__description {
    font-size: 1.4rem;
  }
}
.es-testimonials-slider__slider {
  display: grid;
  gap: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  position: relative;
}
.es-testimonials-slider__slider__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.es-testimonials-slider__slider__arrow-control {
  align-items: center;
  border-radius: 50%;
  display: none;
  height: 3rem;
  justify-content: center;
  position: absolute;
  top: calc(50% - 2rem);
  transform: translateY(-50%);
  width: 3rem;
}
@media screen and (min-width: 640px) {
  .es-testimonials-slider__slider__arrow-control {
    display: flex;
  }
}
.es-testimonials-slider__slider__arrow-control--prev {
  justify-self: end;
}
@media screen and (min-width: 640px) {
  .es-testimonials-slider__slider__arrow-control--prev {
    left: -3.5rem;
  }
}
@media screen and (min-width: 896px) {
  .es-testimonials-slider__slider__arrow-control--prev {
    left: -4rem;
  }
}
@media screen and (min-width: 640px) {
  .es-testimonials-slider__slider__arrow-control--next {
    right: -3.5rem;
  }
}
@media screen and (min-width: 896px) {
  .es-testimonials-slider__slider__arrow-control--next {
    right: -4rem;
  }
}
.es-testimonials-slider__slider__arrow-control__icon {
  width: 1rem;
}
@media screen and (min-width: 640px) {
  .es-testimonials-slider__slider__arrow-control__icon {
    width: 1.25rem;
  }
}
.es-testimonials-slider__slider__dot-control {
  padding: 0.75rem;
}
.es-testimonials-slider__slider__dot-control__dot {
  background-color: #333;
  border-radius: 50%;
  height: 0.75rem;
  width: 0.75rem;
}
.es-testimonials-slider__slider__dot-control__dot--active {
  background-color: #16745f;
}
.es-testimonials-slider__slide {
  align-content: center;
  background-color: #f4f0ec;
  border-radius: 0.5rem;
  display: grid;
  gap: 2rem;
  height: 100%;
  justify-items: center;
  padding: 2rem;
}
@media screen and (min-width: 640px) {
  .es-testimonials-slider__slide {
    padding: 3rem;
  }
}
.es-testimonials-slider__slide__image {
  max-width: 9.375rem;
  width: 100%;
}
.es-testimonials-slider__slide__testimonial {
  display: grid;
  gap: 2rem;
  justify-items: center;
}
.es-testimonials-slider__slide__testimonial__content {
  max-width: 50ch;
  font-size: 1.4rem;
  text-align: center;
}
.es-testimonials-slider__slide__testimonial__person {
  display: grid;
  gap: 0.5rem;
  text-align: center;
}
.es-testimonials-slider__slide__testimonial__person__name {
  font-size: 1.15rem;
  font-weight: bold;
}
.es-testimonials-slider__slide__testimonial__person__title {
  font-size: 0.875rem;
}

.es-video-highlights {
  background-color: #fff;
  color: #333;
}
.es-video-highlights__content {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 640px) {
  .es-video-highlights__content {
    gap: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-video-highlights__content {
    gap: 5rem;
  }
}
.es-video-highlights__intro {
  display: grid;
  gap: 1rem;
  justify-content: center;
}
.es-video-highlights__intro__eyebrow {
  color: #8592e0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  max-width: 38rem;
}
.es-video-highlights__intro__headline {
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .es-video-highlights__intro__headline {
    font-size: 2rem;
  }
}
@media screen and (min-width: 896px) {
  .es-video-highlights__intro__headline {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .es-video-highlights__intro__headline {
    font-size: 2.75rem;
  }
}
.es-video-highlights__intro__description {
  font-size: 1.15rem;
  text-align: center;
  max-width: 38rem;
}
@media screen and (min-width: 1280px) {
  .es-video-highlights__intro__description {
    font-size: 1.4rem;
  }
}
.es-video-highlights__highlights {
  align-items: start;
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 640px) {
  .es-video-highlights__highlights {
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
}
.es-video-highlights__highlights__video {
  background-color: #000;
  position: relative;
  overflow: hidden;
}
.es-video-highlights__highlights__video::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.es-video-highlights__highlights__video__embed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.es-video-highlights__highlights__video__embed iframe {
  width: 100%;
  height: 100%;
}
.es-video-highlights__highlights__tab {
  border-bottom: 1px solid #e6e6e6;
}
.es-video-highlights__highlights__tab:first-child {
  border-top: 1px solid #e6e6e6;
}
.es-video-highlights__highlights__tab--active {
  outline: 0.1875rem solid currentColor;
  outline-offset: 0.375rem;
}
.es-video-highlights__highlights__tab__button {
  padding: 1.25rem;
  font-size: 0.875rem;
  text-align: left;
}
.es-video-highlights__highlights__tab__button--active {
  font-weight: 700;
}

.essential-slice {
  font-family: "Inter", system-ui, sans-serif;
}

.es-bounded {
  padding: 8vw 2rem;
}
.es-bounded__content {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 640px) {
  .es-bounded__content {
    max-width: 90%;
  }
}
@media screen and (min-width: 896px) {
  .es-bounded__content {
    max-width: 80%;
  }
}
@media screen and (min-width: 1280px) {
  .es-bounded__content {
    max-width: 75%;
  }
}

/*# sourceMappingURL=styles.css.map */
